.App {
  text-align: center;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.card-content {
  padding: 10px 20px;
  background: #2d2d30;
  margin: 10px;
  border-radius: 20px;
  color: white;
}
